.logoss {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    // margin-left: 5rem;
    // margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 100;
    overflow: hidden;
}


.profile-page {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    min-height: calc(100vh - 60px);

    .user-widget-container {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        width: 30%;
        position: sticky;
        top: 60px;
        /* Adjust for top bar height */
        height: calc(100vh - 60px);
        /* Adjust for top bar height */
        overflow-y: auto; /* Enable scrolling if content overflows */
    scrollbar-width: none; /* Hide the scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar on IE and Edge */

    &::-webkit-scrollbar {
      width: 0; /* Hide the scrollbar on Chrome, Safari, and newer Edge */
    }



        .user-profile {
            height: auto;
            border-radius: 8px;
            //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            margin-bottom: 20px;
        }

        .friendlist {
            height: auto;
            border-radius: 8px;
            //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        }
    }

    .posts-widget-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        //margin-top: 1rem;
        border-radius: 8px;
        //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
       
        /* Enable scrolling if content overflows */
        height: calc(100vh - 60px);
        overflow-y: auto; /* Enable scrolling if content overflows */
    scrollbar-width: none; /* Hide the scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar on IE and Edge */

    &::-webkit-scrollbar {
      width: 0; /* Hide the scrollbar on Chrome, Safari, and newer Edge */
    }
    }
}