.profile-page{
    display: flex;
    justify-content: space-around;
    padding: 2rem;

    .user-widget-container{
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        width: 30%;
        
       

        .user-profile{
           height: auto;
           border-radius: 8px;
           //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
           margin-bottom: 20px;
        }

        .friendlist{
            height: auto;
            border-radius: 8px;
            //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            
        }
    }
    .posts-widget-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        //margin-top: 1rem;
        border-radius: 8px;
        //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
       
    }
}