// Variables
$textarea-bg-color: #f5f5f5;
$textarea-border-color: #ccc;
$textarea-border-radius: 4px;
$textarea-padding: 10px;
$primary-color: #007bff;
$delete-button-color: #ff4500;



.main-div {
    //margin-top: 5px;
    

    .post-widget {

        //border: 1px solid rgba(34, 8, 8, 0.685);
        .image-textarea {
            display: flex;
            padding: 5px;
            

            .post-input {
                width: 35rem;
                margin-left: 5px;
                background-color: $textarea-bg-color;
                border: 1px solid $textarea-border-color;
                border-radius: $textarea-border-radius;
                padding: $textarea-padding;
                font-size: 16px;
                color: #333;

                // Optional: To remove the default resize handle
                resize: none;

                // Optional: Add box-shadow to give it a more elevated look
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                // Optional: Transitions to make the resizing smoother (if you enable the resize handle)
                transition: border-color 0.3s ease, box-shadow 0.3s ease;

                // Optional: If you want to change the text area height, you can do so like this:
                // height: 200px;
            }

            

        }
        .delete-button {
            // Define styles for the delete button here
            background-color: #e74c3c;
            color: #fff;
            padding: 0.25rem 0.5rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 0.5rem;
            margin-left: 4.5rem;
          }

        .dropzone-content {
            margin-left: 4.5rem;
        }

        .image-upload {
            margin-left: 4.5rem;

            .post-button {
                background-color: #3498db;
                color: #fff;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
}