/* Styles for the friend container */
.friend-container {
    display: flex;
    align-items: center;
    padding: 10px;
    // border: 1px solid #ccc;
    // border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    justify-content: space-between;
  
    &:hover {
      background-color: #f5f5f5;
    }
  
    .friend-info {
      display: flex;
      align-items: center;
  
      .user-image {
        margin-right: 15px;
        overflow: hidden;
        border-radius: 50%;
  
        img {
          display: block;
          width: 55px;
          height: 55px;
          object-fit: cover;
        }
      }
  
      .user-details {
        h5 {
          font-size: 1.2rem;
          font-weight: bold;
          margin: 0;
          color: #333;
        }
  
        p {
          font-size: 1rem;
          margin: 0;
          color: #666;
        }
      }
    }
  
    /* Styles for the friend action button */
    .friend-action {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: none;
      background-color: transparent;
      color: #fff;
      border-radius: 50%;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
  
      &.add {
        background-color: #3cba92;
  
        &:hover {
          background-color: #35a883;
        }
      }
  
      &.remove {
        background-color: #e74c3c;
  
        &:hover {
          background-color: #c0392b;
        }
      }
    }
  }
  