.login-page-container{
  display: flex;
  justify-content: space-between;



  .design-div{
    display: flex;
    flex-direction: column;
    width: 70%;
    img{
      height: 100vh;
      width: auto;
    }   
  }

  .loginform-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
  