// Navbar.scss

.navbar-transition-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.navbar-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.navbar-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.navbar-transition-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms;
}

.navbar {
 // position: fixed;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 100;
  overflow: hidden;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color:  black;
}

.icon-buttons {
  display: flex;
  gap: 1rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }

  svg {
    font-size: 1.25rem;
    color: #333333;
  }
}

.user-profile {
  display: flex;
  align-items: center;

  h1 {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #f0f0f0;
  }

  button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;

    &:hover {
      background-color: #db5858;
      color: white;
    }
  }
}
